body{
    background-image: url("images/backgroundTile.png"); 
}

.grid-container{
    display: grid; 
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%; 
    /* 20 columns */
    grid-row-gap: 10px; 
    padding: 10px; 
}


.navbarColour{
    background-image: url("images/backgroundTileDark.png"); 
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 21;
}

.logo{
    position: sticky;
    top: 10px;
    margin: auto;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    grid-row: 1;
    grid-column: 1;
    /* background-color: brown; */
}

.pageTitle{        
    text-align: center;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row: 1;
       /* background-color: rgb(53, 59, 146);    */
}

.section_1_text{
    margin-left: 0.5cm;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 9;
    width: 1fr;
   /*  background-color: rgb(26, 24, 37); */
}

.section_1_graphic{
    margin-left: 0.5cm;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 20;
    display: flex;
    

   /*  background-color: rgb(26, 24, 37); */
}

.section_2_text{
    margin-left: 0.5cm;
    grid-row: 10;
    grid-column-start: 11;
    grid-column-end: 19;   
    width: 1fr;
   /*  background-color: rgb(26, 24, 37); */
}

.section_2_graphic{
    grid-row: 10;
    grid-column-start: 2;
    grid-column-end: 10;
   /*  background-color: rgb(26, 24, 37); */
}

.section_3_text{
    margin-left: 1.5cm;
    grid-row: 15;
    grid-column-start: 2;
    grid-column-end: 11;
    width: 1fr;
   /*  background-color: rgb(26, 24, 37); */
}

.section_3_graphic{
    margin-left: 0.5cm;
    margin-top: 1.5cm;
    grid-row: 15;
    grid-column-start: 11;
    grid-column-end: 19;

   /*  background-color: rgb(26, 24, 37); */
}


@media only screen, (hover: none), (max-width: 600px),(pointer:coarse) {
    .section_1_text{ 
       background-color: rgb(9, 20, 172);
    }
  } 

