/* =============== */
/* Desktop Section */
/* =============== */

@media only screen and (min-width: 900px),
not (hover: none),
not (pointer:coarse) {

    body {
        background-image: url("images/backgroundTile.png");
    }

    .grid-container {
        display: grid;
        /* 20 columns */
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-row-gap: 10px;
        padding: 10px;
        color: rgb(239, 241, 224);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 150%;
        font-size: large;
    }


    .pageTitle {
        text-align: center;
        padding: 1%;
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        background-color: rgba(0, 0, 0, 0.178);

        /* background-color: rgb(53, 59, 146);    */
    }

    .navbarColour {
        background-image: url("images/backgroundTileDark.png");
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 21;
    }

    .logo {
        position: sticky;
        top: 1%;
        left: 1%;
        margin: auto;

        grid-row: 1;
        grid-column: 1;
        /* background-color: brown; */
    }

    #LogoGraphic {
        width: 50px;
        height: 50px;
    }

    .section_1_text {
        padding-left: 1cm;
        padding-right: 1cm;
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;

        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 9;

        width: 1fr;
        background-color: rgba(0, 0, 0, 0.308);
        margin: auto;
        border: 2cm;
        border-radius: 5%;
        /*  background-color: rgb(26, 24, 37); */
    }

    #TTCTheoryEyeball {
        width: 80%;
        height: auto;

        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }

    .section_1_graphic {
        margin-top: 1cm;
        margin-left: 0.5cm;

        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 9;
        grid-column-end: 20;

        display: block;
         background-color: rgb(26, 24, 37);
    }

    .section_2_text {
        padding-left: 1cm;
        padding-right: 1cm;
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;

        grid-row: 11;
        grid-column-start: 11;
        grid-column-end: 19;

        width: 1fr;
        background-color: rgba(0, 0, 0, 0.308);
        border-radius: 10%;
        margin: auto;

        /*  background-color: rgb(26, 24, 37); */
    }

    .section_2_graphic {
        padding-top: 1cm;
        grid-row: 11;
        grid-column-start: 2;
        grid-column-end: 10;
        /*  background-color: rgb(26, 24, 37); */
    }

    .section_3_text {
        padding-left: 1cm;
        padding-right: 1cm;
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;

        grid-row: 15;
        grid-column-start: 2;
        grid-column-end: 11;

        width: 1fr;
        background-color: rgba(0, 0, 0, 0.308);
        border-radius: 10%;
        margin: auto;
        /*  background-color: rgb(26, 24, 37); */
    }

    .section_3_graphic {
        margin-left: 0.5cm;
        margin-top: 1.5cm;

        grid-row: 15;
        grid-column-start: 11;
        grid-column-end: 19;
        /*  background-color: rgb(26, 24, 37); */
    }
}

/* ============== */
/* Mobile Section */
/* ============== */
@media only screen and (max-width: 900px),
(hover: none),
(pointer:coarse) {
    body {
        background-image: url("images/backgroundTile.png");
    }

    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        padding: 10px;

        color: rgb(239, 241, 224);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        vertical-align: middle;
    }

    /* [class^="section_"] {
        background-color: blue;
      } */


    .pageTitle {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navbarColour {
        background-image: url("images/backgroundTileDark.png");
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;

        position: relative;
        margin: 5px;
        justify-content: left;
    }

    #LogoGraphic {
        width: 0px;
        height: 0px;
    }

    .section_1_text {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        width: 1fr;
        text-align: center;
    }

    .section_1_graphic {
        margin-left: 0cm;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        flex-direction: column;
        flex-grow: 1fr;
        flex-wrap: wrap;
        flex-basis: 10%;

        align-items: center;
        display: flex;
    }


    .section_2_text {
        margin-left: 0cm;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;

        width: 1fr;
        text-align: center;
    }

    .section_2_graphic {
        margin-left: 0cm;
        margin-top: -30px;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;

        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .section_3_text {
        margin-left: 0cm;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;

        width: 1fr;
        text-align: center;
        list-style-position: inside;
    }

    #ExampleNamesListIntro {
        text-align: left;
    }

    #ExampleNamesList {
        text-align: left;
        margin: 0cm;
        padding-left: 5px;
    }

    .section_3_graphic {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;

        position: relative;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}